<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. 备案号：<a href="http://www.miibeian.gov.cn/" target="_blank">桂ICP备16000698号</a>, Built with Ghost and Uno Zen theme.
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258129255'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1258129255%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  </span>
</footer>
