<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. 备案号：<a href="http://www.miibeian.gov.cn/" target="_blank">桂ICP备16000698号</a>, Built with Ghost and Uno Zen theme.
  </span>
</footer>
