<nav class="pagination" role="navigation">
  {{#if prev}}
  <a rel="next" class="posts newer btn small" href="{{page_url prev}}#open">&larr; 上一页</a>
  {{/if}}
  <span class="posts index">Page {{page}} of {{pages}}</span>
  {{#if next}}
  <a rel="prev" class="posts older btn small" href="{{page_url next}}#open">下一页 &rarr;</a>
  {{/if}}
</nav>
